<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Oliver Child">
		<meta name="description" content ="Oliver Child's homepage and portfolio">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		{% if extra_css %}
		<link href="/css/{{ extra_css }}" rel="stylesheet" type="text/css">
		{% endif %}
		<title>
			{{ title or "Oliver Child" }}
		</title>
	</head>

	<body>
		<div id="title">
            {% if page.url == "/" %}
			<h1>
			OLIVER CHILD
			</h1>
            {% endif %}

			
            {{ content | safe }}

		</div>
		<footer>
			<p align="center">Oliver Child © {% year %}</p>
		</footer>
	</body>
</html>
