html {
	position: relative;
	min-height: 100%;
	margin: 0 10px 0 10px;
	font-family: monospace;
	font-size: 12px;
	/* background-color: black;
	border-color: white;
	color: white; */
}

body {
	text-align: left;
	max-width: 1050px;
	margin-left: auto;
    margin-right: auto;
}

span {
	line-height: 2;
}


.proj {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 320px;
	height: 350px;
	/* background-color: #252525; */
	border: solid;
	border-width: 1px 1px 2px 2px;
	background-color: rgb(250, 250, 250);
	text-align:center;
	margin: 10px;
}

.proj img {
	width: 300px;
	height: 225px;
}
	


#title {
	text-align:left;
	/* border-bottom: solid 1px; */
	width: 100%;
}    

footer {
	position: relative;
	border-top: solid 2px;
	margin-top: 20px;
	width: 100%;
}

#projects {	
	display: inline-block;
	position: relative;
	text-align: center;
}

h1{
	padding: 10px;
	font-size: 50px;
}

 h2, p {
	padding: 10px;
	/* border: 1px solid;  */
}


a {
	text-decoration: none;
	color: black;
	border: solid 1px;
	padding: 2px;
	line-height: 200%;
}

a:hover {
	color: white;
	background-color: black;
  }
  
.contact_links{
	text-align: center;
}

a.normal {
	text-decoration:underline;
	border: none;
}

